body {
  background: white url(../img/pipboy.jpg) no-repeat 50% 60px;
  background-size: 250px;
}
h1 {
  padding: 15rem 0 13rem;
  text-indent: -9999px;
}
.jargon {
  margin: 0 15%;
}
.example-grid {
  margin: 6rem 0 4rem;
  .column, .columns {
    text-align: center;
    background-color: $light;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 2rem;
  }
}